.content {
  /* width: 80%; */
  min-height: 600px;
}

.spec-box {
  background-color: black;
  border: 1px solid rgba(0,0,0,0.1);  
  border-radius: 15px;
  color: white;
  float: left;
  font-size: 1.7em;
  height: 150px;
  line-height: 150px;
  text-align: center;
  width: 150px;
  margin: 20px 20px 20px 20px;
}

.spec-box a {
  color: white;
}
