body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.footer p {
  text-align: center;
}

.content {
  margin: 20px auto;
}

.main-block {
  padding: 15px 60px 15px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
  border-radius: 15px;
}

.main-block .checkbox {
  margin-bottom: 10px;
}

.main-block .form-heading {
  line-height: 300%;
  text-align: center;
}

.main-block .checkbox {
  font-weight: normal;
}

@media(max-width:767px) {
  .footer {
    display: none;
  }
  .content .form-heading {
    font-size: 1.8em;
  }
}

@media(min-width:768px) {
  .footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    color: #FFF;
    padding: 0.8em 0px 0.8em;
    background-color: #222;
    /* background: none repeat scroll 0% 0% #111; */
  }
}

