{% extends "base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% block verdor-css %}
{{ block.super }}
{% endblock %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/spec_list.css" %}">
{% endblock %}

{% block title %}Spec List{% endblock %}

{% block content %}
<div class="content">
	<div class="main-block">
		<h1 class="text-center">Spec List</h1>
		<div id="action-block" class="form-inline action-block">
			<div class="form-group">
				<label class="sr-only" for="filter-field"></label>
				<div class="input-group">
					<input id="filter-field" name="filter-field" class="form-control" type="text" placeholder="Filter spec..." autofocus value="">
					<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
				</div>
			</div>
			<style id="m-search">
			</style>
			<button class="btn btn-default" id="rebuild">Rebuild</button>
			<button class="btn btn-default" id="delete">Delete</button>
		</div>
		<table class="table">
			<tr>
				<th class="col-md-2">
					<input id="spec-select-all" type="checkbox">
				</th>
				<th class="col-md-10">
					Name
				</th>
			</tr>
			{% for spec in specs %}
			<tr class="search-row" data-index="{{ spec }}">
				<td>
					<input name="spec-select" type="checkbox" value="{{ spec }}">
				</td>
				<td>
					<a href="#">{{ spec }}</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% endblock %}

{% block js %}
<script src="{% static "js/csrf.js" %}"></script>
<script src="{% static "js/spec_list.js" %}"></script>
{% endblock %}
{# vim: set tabstop=4 noexpandtab shiftwidth=4 softtabstop=4: #}
