{% load compress %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- for Google -->
		<meta name="description" content="{% block meta-description %}{% endblock %}">
		<meta name="author" content="{% block meta-author %}{% endblock %}">
		<meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
		<meta name="application-name" content="{% block meta-application-name %}{% endblock %}" />

		<!-- for Facebook -->
		<meta property="og:title" content="{% block meta-og-title %}{% endblock %}" />
		<meta property="og:site_name" content="{% block meta-og-site-name %}{% endblock %}"/>
		<meta property="og:type" content="{% block meta-og-type %}{% endblock %}" />
		<meta property="og:image" content="{% block meta-og-image %}{% endblock %}" />
		<meta property="og:url" content="{% block meta-og-url %}{% endblock %}" />
		<meta property="og:description" content="{% block meta-og-description %}{% endblock %}" />

		{% block extra-meta %}{% endblock %}

		{% block verdor-css %}
		<link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
		{% endblock %}
		{% compress css %}
		{% endcompress %}
		{% block css %}
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		{% endblock %}
		{% block extra-css %}
		{% endblock %}
		{% block extra-head %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
		<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Spec Maker</a>
			</div>
			<nav class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="{% url 'new_spec' %}">New Spec</a></li>
					<li><a href="{% url 'spec_list' %}">Spec List</a></li>
					<li class="divider"></li>
					<li><a id="git-commit-id" href="#">Git Commit ID</a></li>
					{% comment %}
					Use local images instead
					<li><a href="{% url 'upload_image' %}">Upload Image</a></li>
					{% endcomment %}
				</ul>
				</li>
			</ul>
			</nav>
		</div>
		</header>
		<div class="container">
			<div id="sub-container" class="row">
				<div id="message-box">
				</div>
				<div class="col-sm-10 col-sm-offset-1">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		<!--
		<footer class="footer">
		<div class="container clearfix">
			<p>
			Copyright &copy; 2015 carlcarl
			</p>
		</div>
		</footer>
		-->
		<script type="text/template" id="message-template">
			<div class="alert <%= alertClass %>" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<%= message %>
			</div>
		</script>

		{% block vendor-js %}
		<script src="{% static "jquery/jquery.min.js" %}"></script>
		<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
		<script src="{% static "underscore/underscore-min.js" %}"></script>
		{% endblock %}
		{% compress js %}
		{% endcompress %}
		{% block js %}
		{% endblock %}
		{% block extra-js %}
		{% endblock %}
		<script>
			$(function (){
				$('#git-commit-id').click(function () {
					$.getJSON(
						'git_commit_id.json',
						function (data) {
							alert(data.git_commit_id);
						}
					);
				});
				$.getJSON(
					'check_project_out_of_date.json',
					function (data) {
						if (data.is_project_out_of_date) {
							var messageTemplate = _.template(
							$('#message-template').html()
							)({
								'alertClass': 'alert-warning',
								'message': 'The code is out-of-date, please update it'
							});
							$('#message-box').html(messageTemplate);
						}
					}
				);
			});
		</script>
		{% endblock %} {# body #}
		{% block extra-body %}
		{% endblock %}
	</body>
</html>
{# vim: set tabstop=4 noexpandtab shiftwidth=4 softtabstop=4: #}
